html {
  background-color: #79756f;
  font-family: Georgia, serif;
  line-height: 1.5rem;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #595652;
  font-size: 2em;
  text-align: center;
}

h1 {
  background-color: #595652;
  font-weight: bold;
  font-family: Georgia, serif;
  color: #fff;

}

body {
  margin: 0;
  list-style-type: none;
}

.planets li {
  display: inline-block;
  margin: .5em 1em;
  max-width: 20em;
  padding: .75em;
  background-color: #713837;
  border: 8px solid #713837;
  border-radius: 10px;
  text-align: left;
}

.planets a {
  display: inline-block;
  padding: .5em .75em;
  background-color: #713837;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
}

.planets a:hover {
  background-color: #713837;
  color: #f33;
}

nav {
  font-weight: bold;
  font-family: Brevan;
  font-size: 1.25rem;
}
